<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <header>
        <h1>All Playlists</h1>
        <%- include('../partials/nav.ejs') %>
        <% if(locals.playlists)  { %>
            <% for(let i = 0; i < playlists.length; i++) { %>
                <div>
                    <p><%= i %>. <%= playlists[i].name %></p>
                </div>
            <% } %>
        <% } %>
    </header>
    <%- include('../partials/footer.ejs') %>
</body>
</html>